<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<%
    cgimap = Dhelp::Exporter::CgiMap.new()
%>
<head>
<title><%= _("Debian Online Help") %></title>
    <link rev="made" href="mailto:dhelp@packages.debian.org">
    <link rel="stylesheet" href="../dhelp/css/dhelp.css">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body>
    <div id="top-bar">
        <h1><a href="index.html"><span
        id="logo"><img src="../dhelp/css/swirl.png" alt=""><img
        src="../dhelp/css/debian.png" alt="Debian"></span>
            <%= _("Online Help") %></a></h1>

        <div id="navigation-bar">
            <%= cgimap.info2www_link() %> |
            <%= cgimap.man2html_link() %> |
            <a href="../"><%= _("documentation folder") %></a> |

            <form id="search-form" action="/cgi-bin/dsearch">
                <div id="search-form-contents">
                    <input type="text" name="search">
                    <input type="submit" value="<%= _("Search") %>">
                </div>
            </form>
        </div>
    </div>

    <div id="content">
        <h2><%= _("Documentation Index") %></h2>

        <div id="item-list"><div class="spacer">
<%
    ident = "    " * 3
    miss_man  = ! cgimap.installed?("man2html")
    miss_info = ! cgimap.installed?("info2www")

    note_para = ident + '<p class="note">'
    if miss_man
        note_para += _("Install package man2html to browse man pages.")
    end

    if miss_info
        note_para += (miss_man ? " " : "") + \
            _("Install package info2www to browse info pages.")
    end
    note_para += "</p>\n"

    if ! (miss_man || miss_info)
        note_para = ""
    end
%>
<%= note_para %>
            <p><%= _( \
                "Welcome to Debian Online Help. Pick a section from the " + \
                "list to browse the Debian documentation that is installed " + \
                "on the system. Alternatively, you may want to <a " + \
                "href=\"All/index.html\">see all sections in one page</a>." \
                ) %></p>
            <p><%= _( \
                "If you are using Debian Online Help with a web server, " + \
                "you may have to do a few actions by hand in order to " + \
                "finish dhelp configuration. Instructions are given in" \
                ) %> <a
            href="../dhelp/README.Debian">/usr/share/doc/dhelp/README.Debian.gz</a>
            .</p>
            <p><%= _( \
                "Debian Online Help can use the features of other packages " + \
                "to supply additional information (such as man and info " + \
                "pages), but does not enforce you to co-install them. Thus " + \
                "some items may be <em>disabled</em>. When the associated " + \
                "helper package is installed, the disabled items will " + \
                "become enabled as soon as the index is rebuilt." \
                ) %></p>
        </div></div>

        <div id="dir-panel">
            <!-- Directory list -->
            <% @section_tree.keys.sort.each do |entry| %>
                <div class="dir-panel-entry">
                    <img src="../dhelp/css/book.png" alt="">
                    <a href="<%= entry %>/index.html"><%= entry %></a>
                </div>
            <% end %>
        </div>

        <a href="All/index.html"><%= _("See all sections in one page") %></a>
    </div>
</body>
</html>
