<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
[% MACRO t(text) BLOCK;
       gettext.get(text);
   END; %]
<head>
<title>[% t("Debian Online Help: Search Result") %]</title>
<link rev="made" href="mailto:dhelp%40packages.debian.org" />
<link rel="stylesheet" href="[% base_url %]/doc/dhelp/css/dhelp.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="top-bar">
        <a href="[% base_url %]/doc/HTML/index.html"><span id="logo"><img
            src="[% base_url %]/doc/dhelp/css/swirl.png" alt=""><img
            src="[% base_url %]/doc/dhelp/css/debian.png" alt="Debian"></span>
            <h1>[% t("Online Help") %]</h1></a>

        <div id="navigation-bar">
            [% IF online %]
            <a href="/cgi-bin/info2www">[% t("info pages") %]</a> |
            <a href="/cgi-bin/man/man2html">[% t("man pages") %]</a> |
            [% END %]

            <a href="[% base_url %]/doc/">[% t("documentation folder") %]</a>

            [% IF online %]
            | <form id="search-form" action="/cgi-bin/dsearch">
            <input type="text" name="search" value="[% search_terms | html %]">
            <input type="submit" value="[% t("Search") %]">
            </form>
            [% END %]
        </div>
    </div>

<h2>[% t("Search results for") %] [% search_terms %]</h2>

[% IF msg %]
<div class="info">[% msg %]</div>
[% END %]

[% IF online %]
[% INCLUDE search_pagination.tmpl %]
[% END %]

<div id="search-results">
[% FOREACH result = results %]
    <div class="result">
        <span class="rank">[% result.rank %]%</span>
        <span class="result-description">
            <a class="result-title" href="[% result.file %]">[% result.title %]</a>
            <span class="size">([% result.size %])</span>
            <span class="extract">[% result.extract %]</span>
        </span>
    </div>
[% END %]
</div>

[% IF online %]
[% INCLUDE search_pagination.tmpl %]
[% END %]

</body>
</html>
